body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    color: red;
}
.btn_get{
    display: block;
    position: sticky;
    top: 50px;
    margin-right: 300px;
    padding: 0.5rem 1rem;
    background-color: rgb(129, 120, 120);
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.div_test {
    padding: 0.5rem 1rem;
    font-size: 20px;
}