body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
}
h1 {
    color: #555
}
.seacher {
    padding: 1rem;
    border-radius: 2rem;
    background-color: rgb(99, 193, 224);
}
#seacher {
    padding: 0.5rem 1rem;
    font-size: 20px;
    border: 1px solid #777;
    border-radius: 2rem;
    outline: none;
}

#seacher:focus {
    border: 1px solid yellow;
}

.list {
    width: 30rem;
    padding: 1rem 1.5rem;
    background-color: rgb(16, 159, 207);
    border-radius: 2rem;
    list-style: none;
}
.list li {
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 18px;
    padding: 1rem;
    color: white;
    margin-bottom: 0.5rem;
}
.purple {
    background-color: rgb(250, 36, 250);
}