.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem 5rem;
    border: 2px solid #ccc;
    gap: 10px;
}
.user {
    display: flex;
    padding: 2rem 5rem;
    border: 2px solid #ccc;
}
.inner {
    display: flex;
    padding: 1rem 5rem;
    border: 2px solid #ccc;
}